.carousel {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  top: 50px;
}

.carousel img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.carousel button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 18px;
  cursor: pointer;
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.carousel button.prev {
  left: 0;
}

.carousel button.next {
  right: 0;
}

.title {
  font-family: Arial, sans-serif; 
  top: 500px;
  color: #333; 
  text-align: center;
}
